@import "Initial";
@import "Color";
@import "Variable";
@import "index";

body {
    font-family: "Source Han Sans CN" !important;
    // background: #000 !important;
    background: url(../img/background-img.jpg) repeat-y;
    background-size: contain;
}

p,
span,
li,
th,
td{
    color: white;
}



h1 {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 5.2px;
    text-align: center;
    color: #fff;
    margin-bottom: 0rem !important;

}

.h1-containers {
    padding: 8px 0;
    background-image: url(../img/h1-backgroung.png) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    margin: 10px 0;
    font-size: 4rem !important;
    font-weight: 900 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    text-align: left;
    color: #fff;

}

.h2-subtitle {
    margin: 10px 0;
    font-size: 1.2rem !important;
    font-weight: 300 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.56px;
    text-align: left;
    color: #fff;
}

h3 {
    font-size: 1.6rem !important;
    font-weight: 600 !important;
    text-wrap: nowrap;
    color: $main-color !important;
}

h4{
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    color: white !important;
}

p{
    font-weight: 200 !important;
}

.main-color {
    color: $main-color !important;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.writing-mode-vertical {
    writing-mode: vertical-lr;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: -0.56px;
    text-align: center;
    color: #fff;
}

.read-more {
    color: $main-color;
    font-size: 1rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: 0.8px;
    color: $main-color;

}

.blue-line {
    width: 50px;
    height: 3px;
    background-color: $main-color;
    margin: 20px 0;
    border-radius: 10px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.price {
    // transform: translateX(50px);


    align-items: center;

    .price-head {
        flex-direction: column;
        align-items: center;

        .tax {
            font-size: .6rem;
            line-height: 1;
        }

        .NT-lable {
            font-size: 1.1rem;
            font-weight: 600;
            line-height: 1;

        }
    }

    .price-body {
        font-size: 2rem;
        font-weight: 600;
        

    }
}

.tiny-text{
    font-size: .6rem;

}

li {
    position: relative;
    padding-left: 5px;
    &::before {
        content: '・';
        position: absolute;
        left: -10px;

    }
}

header{
    .logo {
        width: 100%;
    
        img {
            margin: 0 auto;
            display: block;
            height: 150px;
        }
    }
}

footer {
    justify-content: center;
    margin-top: 50px;

    .item {
        flex-direction: column;
        align-items: center;

        img {
            color: white !important;
            fill: currentColor;
        }

        p {
            font-size: .8rem;
            text-align: center;
        }
    }
}


@media (max-width: 768px) {
    h1 {
        font-size: 1.2rem !important;
        text-wrap: nowrap;
    }

    h2 {
        font-size: 2.6rem !important;
    }

    .h2-subtitle {
        font-size: 1rem !important;
    }

    .read-more {
        color: $main-color;
        font-size: 1rem;

    }

    .writing-mode-vertical {
        writing-mode: vertical-lr;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.07;
        letter-spacing: -0.56px;
        text-align: center;
        color: #fff;
    }

    .row-reverse {
        flex-direction: row;
    }

    footer {
        margin-top: 0px !important;
    
        .item {
    
            img {
                transform: scale(.6);
            }
        }
    }
}