body {
    margin: 0;
}

h1,
h2,
h3,
p {
    font-family: system-ui;
}

button {
    cursor: pointer;
}

/**id_head**/
#head {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    /**不換行**/
    justify-content: center;
    /**水平對齊**/
    align-items: center;
    /**垂直對齊**/

}

#head img {
    width: 7%;
    -webkit-filter: invert(1);
    cursor: pointer;
}

#head button {
    font-size: 15px;
    font-weight: 800;
    width: 80px;
    height: 80px;
    border: 0;
    background-color: black;
    color: white;
}

#head button:hover {
    color: rgb(45, 194, 45);
}

#head p {
    color: white;
}

#logo {
    flex-grow: 1;
}

#head .space {
    flex-grow: 1;
}

#top-btn {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


/**id_body1**/
#body1 {
    background-color: rgb(30, 116, 228);
    height: 480px;
    margin: 0;
    border: 0;
    display: flex;
    flex-wrap: nowrap;
    /**不換行**/
    justify-content: center;
    /**水平對齊**/
    align-items: center;
    /**垂直對齊**/
}

#body1 h1,
#body1 h2,
#body1 p {
    color: white;
    margin: 0;
}
#body1 h1{
    font-size: 40px;
    
}
#body1 h2{
    margin: 40px 0;
    font-size: 25px;
    font-weight:500;
}
#body1 p{
    font-size: 10px;
    margin: 40px 0 0 0;
}

#body1 .btn1{
    width: 135px;
    height: 50px;
    font-size: 16px;
    border: 0;
    margin: 0 5px 0 0 ;
    background-color: black;
    color: white;
    border-radius: 30px;
}
#body1 .btn1:hover{
    transform: scale(1.04);
    font-weight:bold;


}
#body1 .btn2{
    width: 135px;
    height: 50px;
    font-size: 16px;
    border: 1;
    border-style:solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 30px;
}
#body1 .btn2:hover{
    transform: scale(1.04);
    background-color: rgba(0, 0, 0, 0.096);
    font-weight:bold;


}

#body1 div {
    position: relative;
    left: -15%;
}

#body1 span {
    text-decoration: underline;
    cursor: pointer;
}


/**id_body2**/
#body2 {
    background-color: white;
    height: 550px;
    padding: 0 10%;
    border: 0;
}

#body2 h1,
#body2 h2,
#body2 p {
    text-align: center;
    margin: 0;
}
#body2 h1{
    margin: 70px;
    font-size: 40px;
}
#body2 h2{
    margin: 40px 0 20px 0;
}

#body2 .box {
    display: flex;
    justify-content: space-between;
    /**水平平分**/
    flex-wrap: wrap;
    /**不換行**/
    align-items: top;
    /**垂直對齊**/
}

#body2 .box div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /**垂直排列**/
    align-items: center;
    /**垂直對齊**/
    width: 150px;
    margin: 0 10px;
}

#body2 img {
    width: 150px;
    display: flex;
    align-items: center;
}

/**id_body3**/
#body3 {
    background-color: rgb(233, 233, 233);
    padding: 20px 10%;
    border: 0;
}

#body3 .hr{
    margin: 20px 0;
}
#body3 h1,
#body3 h2,
#body3 p {
    margin: 0;
}

#body3 h1,
#body3 .text {
    text-align: center;
}

#body3 h1{
    font-size: 40px;
    padding:  60px 0 10px 0;
}
#body3 h2{
    margin: 8px 0;
    font-size: 20px;
    font-weight:900;
}
#body3 p{
    font-size: 16px;
    margin: 10px 0;
}
#body3 .gray{
    font-size: 10px;
    margin: 10px 0;
    color: rgb(63, 63, 63);
    position: absolute;
    left: 10px;
    top: 410px;
    margin: 5px 10px 0 5px;
    
}
#body3 .blue{
    background-color: rgb(35, 112, 255);
    color: white;
    font-size: 15px;
    width: 130px;
    text-align: center;
    padding: 4px 0;
    border-radius: 4px;
}

#body3 span {
    text-decoration: underline;
    cursor: pointer;
}

#body3 .rectangle {
    height: 450px;
    width: 250px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgb(168, 168, 168);
    position: relative;

}

#body3 .rectangle h2,
#body3 .rectangle h3,
#body3 .rectangle p {
    text-align: left;
}

#body3 .box {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    /**水平對齊**/
    align-items: center;
    /**垂直對齊**/
    flex-wrap: wrap;
}

#body3 button{
    position: absolute;
    width: 85%;
    height: 45px;
    font-size: 16px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 20px;
    left: 18px;
    top: 360px;
}
#body3 button:hover{
    transform: scale(1.04);
    font-weight:bold;


}


/**id_foot**/
#foot {
    background-color: rgb(0, 0, 0);
    height: 560px;
    margin: 0;
    border: 0 ;
    position: relative;
}

#foot th{
    font-size: 15px;
    color: gray;
}
#foot td{
    color: white;
    cursor: pointer;
}
#foot td:hover{
    color: rgb(45, 194, 45);
}
#foot1 {
    display: flex;
    justify-content: center;
    padding: 80px;
}

#foot1 .logo {
    width: 7%;
    -webkit-filter: invert(1);
    cursor: pointer;
    margin: 0 50px 0  0;
}
#foot1 table{
    text-align: left;
    height: 270px;
    width: 600px;
}
#foot1 th{
    width: 33.3%;
}
#foot1 .R{
    
    padding: 0 0 0 100px;
}
#foot1 .r:hover .media{
    
    background-color: rgb(45, 194, 45);
}

#foot1 .r {
    display: inline-block;
    background-color: rgb(37, 37, 37);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 0 7px;
    cursor: pointer;
}


#foot1 .media {
    background-color: white;
    margin: 10px;
    width: 30px;
}
#foot2{
    position: absolute;
    right: 400px;
    bottom: 90px;
    text-align: right;
    
}
#foot2 p{
    font-size: 15px;
    color: gray;
    cursor: pointer;
    display: inline-block;
}
#foot2 p:hover{
    color: rgb(45, 194, 45);
}

#foot3{
    display: flex;
    margin: 70px 0 0 400px;
}

#foot3 p{
    font-size: 15px;
    color: gray;
    cursor: pointer;
    margin: 0 12px;
}
#foot3 p:hover{
    color: rgb(45, 194, 45);
}
#foot3 .ab{
    font-size: 5px;
    color: gray;
    position: absolute;
    right: 400px;
    bottom: 50px;
    text-align: right;
}


