* {
    transition: .3s;
    scroll-behavior: smooth;

}



h1,
h2,
h3,
p {
    font-family: 'Noto Serif TC', serif !important;
    color: black;
}

.red-rectangle {
    width: 25px;
    height: 6px;
    background-color: red;
    margin: 20px auto;
}

/* header */
#menu_control {
    position: absolute;
    z-index: -2;
    opacity: 0;
}

.header {
    height: 130px;
    width: 100%;
    padding: 100px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header .logo {
    height: 100px;
    margin-left: 40px;
    cursor: pointer;
    opacity: .5;
}

.header .header-ul {
    display: flex;
    align-items: center;
    margin-right: 20px;

}

.header .header-ul .header-li {
    margin: 0 30px;

}

.header .header-ul .header-li .link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Noto Serif TC', serif;
}

.header .header-ul .header-li .link:hover {
    color: red;

}

.header .header-ul .menu_btn {
    z-index: 1;
    width: 45px;
    height: 45px;
    background-color: transparent;
    display: block;
    position: relative;
    cursor: pointer;
}

.header .header-ul .menu_btn::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 40px;
    background-color: red;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 4px 0 red,
        0 -4px 0 red;
    transition: .3s;
}

.header .header-ul .menu_btn:hover::before {
    box-shadow: 0 6px 0 red,
        0 -6px 0 red;
}



/* Swiper  */
.swiper {
    width: 100%;
    height: 100vh;
    cursor: pointer;
    position: relative;
}

.swiper-slide {
    width: 100vw;
    background-position: center;
    background-size: cover;
    /* filter: brightness(.7); */
}

.swiper-img1 {
    background-image: url(img/swiper1-1.jpg);
    filter: grayscale(1);
}

.swiper-img2 {
    background-image: url(img/swiper1-2.jpg);
    filter: grayscale(1);

}

.swiper-img3 {
    background-image: url(img/swiper1-3.jpg);
    filter: grayscale(1);

}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    display: inline-flex;
    opacity: 1;
    background-color: transparent;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,  .swiper-pagination-fraction {
    bottom: 100px;
}

.swiper-pagination-bullet:after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    opacity: .2;
}

.swiper-pagination-bullet-active:after {
    background-color: red !important;
    opacity: 1 !important;
}

.swiper .news {
    position: absolute;
    bottom: 150px;
    left: 100px;
    color: white;
    z-index: 10;

    display: flex;
    flex-direction: row;

}

.swiper .news p {
    font-size: 25px;

}

.swiper .bi-chevron-double-down {
    position: absolute;
    bottom: 150px;
    right: 100px;
    color: black;
    font-size: 50px;
    line-height: 50px;
    z-index: 11;
}

.swiper .bi-chevron-double-down:hover {
    color: red;
    transform: translateY(30px);
}



/* body1 */
.body1 {
    width: 100%;
    height: 50vh;
    background: url(img/background2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.body1 h2 {
    color: white;
    font-size: 30px;
    text-shadow: 0 0 10px black;

}

.body1 p {
    color: rgb(177, 177, 177);
    font-size: 20px;
}



/* body2 */
.body2 {
    width: 100%;
    padding: 200px 0;
    align-items: center;
    background-color: white;

    overflow: hidden;
}

.body2 h1 {
    font-size: 220px;
    text-align: center;
    font-weight: 400;
    color: #EAEAEA;
    letter-spacing: -10px;
}

.body2 h2 {
    transform: translateY(-35px);
    font-size: 60px;
    text-align: center;
    font-weight: 600;

    color: black;

}

.body2 p {
    color: gray;
    font-size: 20px;
    text-align: center;

}

.body2 .red-rectangle {
    margin-top: 0;
}

/* body3 */
.body3 {
    position: relative;
    width: 100%;
    padding: 200px 0;
    background-color: transparent;
    align-items: center;
}

.body3 .background {
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: -99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(.9);
}

.body3 h1 {
    font-size: 220px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    letter-spacing: -10px;
}

.body3 h2 {
    transform: translateY(-35px);
    font-size: 60px;
    text-align: center;
    font-weight: 600;

    color: black;

}

.body3 p {
    color: gray;
    font-size: 20px;
    text-align: center;
    

}

.body3 .red-rectangle {
    margin-top: 0;
}


/* .footer */
.footer {
    background: url(img/background3.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .boxs {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.footer h2 {
    color: #C9C9C9;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 80px;
    font-weight: 700;

}

.footer p {
    color: #C9C9C9;
    font-weight: 500;

    line-height: 30px;

}

.footer .boxs .box-left {
    width: 80%;
}

.footer .boxs .box-right {
    width: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.footer .boxs .box-right svg {
    width: 30px;
    height: 30px;
    color: rgb(133, 133, 133);
    transition: 0s;
    margin: 5px;
}

.footer .boxs .box-right svg:hover {
    color: #C9C9C9;
}



@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    .header {
        height: 130px;
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }

    .header .logo {
        height: 100px;
        margin-left: 0px;
        cursor: pointer;
    }

    .header .header-ul {
        display: flex;
        align-items: center;
        margin-right: 0px;

    }

    .header .header-ul .header-li {
        display: none;
    }

    .swiper-slide {
        background-position: right;
    }

    .swiper .news {
        flex-direction: column;
        left: 20px;
    }

    .swiper .news p {
        font-size: 20px;

        line-height: 30px;
    }

    .swiper .bi-chevron-double-down {
        right: 20px;
        bottom: 60px;
    }

    .body1 h2 {
        font-size: 25px;

    }

    .body1 p {
        font-size: 15px;
    }

    .body2, .body3 {
        padding: 50px 0;
    }

    .body2 h1,
    .body3 h1 {
        font-size: 150px;
    }

    .body2 h2,
    .body3 h2 {
        transform: translateY(-30px);
        font-size: 40px;

    }

    .body2 p,
    .body3 p {
        color: gray;
        font-size: 15px;
        text-align: center;

    }


    .footer {
        padding: 40px 0;
    }

    .footer .boxs {
        width: 85%;
        flex-direction: column;
    }

    .footer .boxs .box-left {
        width: 100%;
    }

    .footer .boxs .box-right {
        width: 100%;
        display: flex;
        justify-content: left;
    }
}